<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <label for="email"> ID : </label><%= email %> <br>
    <label for="password"> PASSWORD : </label><%= password %> <br>
    <label for="token"> jwt_token : </label><%= token %> <br>
    <p>로그인 성공</p>
  </body>
</html>